* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
}

.bs1 {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: orange;
}

p {
  margin: 5px;
  /* text-align: left; */
  padding: 0;
}

.header {
  padding: 0.8rem;
}

.header .ant-btn {

}

.content {
  min-height: 90vh;
  
}

/* ***home style*** */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.car {
  border-radius: 5px;
  margin-top: 100px;
  height: 150px;
  transition: 0.3s;
}

.car:hover {
  height: 180px;
}

.car:hover .car-content {
  opacity: 1;
  transform: translateY(-40px);
}

.carImg {
  display: block;
  height: 150px;
  width: auto;
  border-radius: 5px;
  transform: translateY(-50px);
}

.car-content {
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.3s;
}

.booking-btn, .login-btn, .ant-btn, .add-new-car, .cancel {
  box-shadow: none;
  background-color: #fff;
  color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.error-msg {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}